:root {
    --color-light-sea-green: #00BFB2;
    --color-caribbean-current: #1A5E63;
    --color-teal: #028090;
    --color-cream: #F0F3BD;
    --color-mulberry: #C64191;
}

#hiboxdiv {
    display: flex;
    justify-content: center;
}

#hibox {
    border: 1px solid black;
    width: fit-content;
    
}