:root {
    --color-light-sea-green: #00BFB2;
    --color-caribbean-current: #1A5E63;
    --color-teal: #028090;
    --color-cream: #F0F3BD;
    --color-mulberry: #C64191;
}

#hiboxdiv {
    display: flex;
    justify-content: center;
}

#hibox {
    border: 5px solid var(--color-mulberry);
    display: flex;
    font-size: xx-large;
    justify-content: center;
    padding: 2em;
    width: 20%;
    min-width: fit-content;
    background-color: var(--color-cream);
    color: var(--color-mulberry);
}

#lobox {
    border: 2px solid var(--color-mulberry);
    padding: 1em;
    background-color: var(--color-cream);
    color: var(--color-mulberry);
}

.boxdefault {
    border: 2px solid var(--color-mulberry);
    width: 100%;
    display: flex;
    padding: 1em;
    background-color: var(--color-cream);
    color: var(--color-mulberry);
}

#wrapper2 {
    display: flex;
    flex: 1 1 0;
}

#wrapper1 {
    display: flex;
    flex: 1 1 0;
}

.headboxdefault {
    border: 2px solid var(--color-mulberry);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size:x-large;
    background-color: var(--color-cream);
}

.headboxdefault > p {
    border: 3px solid var(--color-mulberry);
    padding: 1em;
    width: 20%;
    justify-content: center;
    display: flex;
    background-color: var(--color-light-sea-green);
    color: var(--color-mulberry);
}

body {
    background-color: var(--color-caribbean-current);
}