:root {
    --color-light-sea-green: #00BFB2;
    --color-caribbean-current: #1A5E63;
    --color-teal: #028090;
    --color-cream: #F0F3BD;
    --color-mulberry: #C64191;
}

#hiboxdiv {
    display: flex;
    justify-content: center;
}

#hibox {
    border: 10px solid black;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    padding: 1em;
    max-width: fit-content;
}

#lobox {
    border: 1px solid black;
    padding: 1em;
}

.boxdefault {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
}

#wrapper1 {
    display: flex;
    flex: 1 1 0;
}